# NOTE: This file is created from a template.
#       Any manual changes made might get overwritten.
zone "{{ zone }}" {
        type slave;
        file "data/{{ zone_file }}";

        masters {
            {{ dns_ip }};
        };
};
