# NOTE: This file is created from a template.
#       Any manual changes made might get overwritten.
zone "{{ zone }}" {
        type master;
        file "data/{{ zone_file }}";

	also-notify {
		{{ dns_ip }} port {{ dns_port }};
	};
};
